@font-face { font-family: 'Gotham-Medium'; 
    src: url('gotham/Gotham-Medium.eot?#iefix') format('embedded-opentype'), 
    url('gotham/Gotham-Medium.otf') format('opentype'), 
    url('gotham/Gotham-Medium.woff') format('woff'), 
    url('gotham/Gotham-Medium.ttf') format('truetype'), 
    url('gotham/Gotham-Medium.svg#Gotham-Medium') format('svg'); 
    font-weight: normal; 
    font-style: normal; 
}

@font-face { font-family: 'ProximaNova-Bold'; 
    src: url('/proxima_nova/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), 
    url('proxima_nova/ProximaNova-Bold.otf') format('opentype'), 
    url('proxima_nova/ProximaNova-Bold.woff') format('woff'), 
    url('proxima_nova/ProximaNova-Bold.ttf') format('truetype'), 
    url('proxima_nova/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg'); 
    font-weight: normal; 
    font-style: normal; 
}

@font-face { font-family: 'ProximaNova-Regular'; 
    src: url('proxima_nova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), 
    url('proxima_nova/ProximaNova-Regular.otf') format('opentype'), 
    url('proxima_nova/ProximaNova-Regular.woff') format('woff'), 
    url('proxima_nova/ProximaNova-Regular.ttf') format('truetype'), 
    url('proxima_nova/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg'); 
    font-weight: normal; 
    font-style: normal; 
}

@font-face {
    font-family: 'OpenSansCondensed-LightItalic';
    src: url('open_sans_condensed/OpenSansCondensed-LightItalic.eot?#iefix') format('embedded-opentype'),  
    url('open_sans_condensed/OpenSansCondensed-LightItalic.woff') format('woff'), 
    url('open_sans_condensed/OpenSansCondensed-LightItalic.ttf')  format('truetype'), 
    url('open_sans_condensed/OpenSansCondensed-LightItalic.svg#OpenSansCondensed-LightItalic') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  